[submodule "policy_sources/omnivla"]
	path = policy_sources/omnivla
	url = git@github.com:gershom96/OmniVLA.git
[submodule "policy_sources/visualnav_transformer"]
	path = policy_sources/visualnav_transformer
	url = git@github.com:gershom96/visualnav-transformer.git
[submodule "policy_sources/diffusion_policy"]
	path = policy_sources/diffusion_policy
	url = https://github.com/gershom96/diffusion_policy.git
